

.Service  h1{
    color: green;
    text-align: center;
    font-family: 'IBM PLex Sans','IBM PLex Mono';
}
.Service button
{
    font-family: 'IBM PLex Sans','IBM PLex Mono';
    margin:1px;
    border-color: white;
    background-color: white;

}
.Service ul{
    display: flex;
}

@media (min-width: 576px) {  }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }