

.Service  h1{
    color: green;
    text-align: center;
}
.Service button
{
    background-color: white;
    color:rgb(25,218,157);
}
.Service ul{
    display: flex;
}

@media (min-width: 576px) {  }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }