.Credits{
margin-top: 0px;
    display:flex;
    background-color: rgb(46,46,46);
    width:100%;
    height:100px;
align-items: right;
}
.Credits img {
    margin-right: 50px;
    background-color: rgb(46,46,46);
    height: 100px;
    width:100px;
}
.Credits div {
    display: flex;
margin-left: 250px;
}
.Credits  p{
    font-size: 21px;
    font-weight: 200;
    margin-left:50px;
    margin-top: 50px;
color:white;
}
.Credits div span1 img{
margin-top:10px; 
margin-right: 150px;
    width: 150px;
    height: 90px;
}
.Credits div span2 img{
    margin-right: 150px;
    width: 150px;
    height: 100px;
}
.Credits div span3 img{
    margin-right: px;
    width: 350px;
    height: 100px;


}

@media (max-width: 576px) {
    .Credits{
    
            display:flex;
            background-color: rgb(46,46,46);
            width:100%;
            height:50px;
        align-items: left;
        }
        .Credits img {
            margin-right: px;
            background-color: rgb(46,46,46);
            height: 50px;
            width:40px;
        }
        .Credits div {
            display: flex;
        margin-left:10px;
        }
        .Credits  p{
            font-size: 10px;
            font-weight: 300;
            margin-left:5px;
            margin-top: 15px;
        color:white;
        width:70%;
        }
        .Credits div span3{
            margin-right: 0px;
            margin-left: 0px;
        }


        .Credits div span1 img{
        margin-top:13px; 
        margin-right: 0px;
        margin-left: 5px;
            width: 50px;
            height: 30px;
        }
        .Credits div span2 img{
            margin-right:0px;
            width: 60px;
            height: 50px;
            margin-left: 5px;
        }
        .Credits div span3 img{
            margin-right: 0px;
            width: 100px;
            margin-left: 0px;
            height: 50px;
        }
  }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }