.Toolbar{
    height:70px;
    width:100%;
    position: relative;
    top:0;
    left:0;
    background-color:rgb(234, 254,245);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    box-sizing:border-box;
    z-index:90;
    }
    .Toolbar button{
        box-shadow: 15px;
        width: 200px;
        height: 50px;
        display:inline-block;
        padding: 0.3em  0.9em 0.em 0.9em;
        margin:0.9em  0.9em 0.9em 0.9em;
        border-radius:2em;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:100;
        color:#FFFFFF;
        background-color:green;
        transition: all 0.2s;
    }
    .Toolbar button:hover,
    .Toolbar button:active,
    .Toolbar button.active{
        color: rgb(25,218,157);
        cursor: pointer;
        text-align: center;
    }
    .Toolbar .NavidationItems{
        margin-left: 100px;
    }
    .Toolbar img{
        background-color:rgb(234, 254,245);
        padding:8px;
        height:180%;
        box-sizing:border-box;
        border-radius: 5px;
        }
      
    .Toolbar nav{
    height:100%;
    
    
    }
    .Logo{
        height :80%;
    }
    @media(max-width:499px){
        .Desktoponly{
            display:none;
        }
    }
    @media(min-width:499px){
        .Sidebaronly{
            display:none;
        }
    }