.Location{
    font-family: 'IBM PLex Sans','IBM PLex Mono';
    margin-top: 50px;
    width: 93%;
    margin-left: 50px;
    text-align: justify;
    
}

.Location h2{
    text-align: center;
    font-size: 40px;
    margin-right:20px;
    margin-top:40px;
   
}
.Location p{
    text-align: center;
    font-size: 45px;
    margin-right:20px;
    color: green;
}
.Location img {
    margin-top: 50px;
    margin-right:90px;
    margin-left: 100px;
    margin-bottom: 30px;
    height:500px;
    width:500px;
    box-shadow: 10px 10px 50px #ccc;
    padding: 0.2em  0.2em 0.2em 0.2em;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
}
.Location div1 p2
{
   font-weight: 600;
   font-size: 20px;
}

.Location div1 p1
{
    width: 80%;
    margin-top: 50px;
    font-weight: 600;
    font-size: 20px;
    text-align: justify;
    
}
.Location div1 span
{
    font-weight: 600;
    font-size: 20px;
    color:rgb(70,186,124);
}

@media (max-width: 576px) { 
    .Location{

        margin-top: 20px;
        
        margin-left: 10px;
        text-align: justify;
        
    }
    .Location div {
        display: flex;
        margin-top:35px;

    }

    .Location  img {
       
        height:160px;
        width:160px;
        box-shadow: 5px 5px 25px #ccc;
        padding: 0em  0em 0em 0em;
        margin:5px  0.9em 0.9em 0.9em;
        border-radius:1em;
        box-sizing: border-box;
        text-decoration:none;
    }
    .Location div1
    {
        text-align: center;
        font-weight: 800;
        font-size: 20px;
        
        margin-top: 10px;
        margin-left:8px;
    }
    .Location  p
    {
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        color:rgb(70,186,124);
    }
    .Location div1 p2
    {
        font-weight: 400;
       font-size: 15px;
    }
    .Location  h2
    {
        text-align: center;
        font-weight: 600;
        font-size: 16px;
      
    }
    .Location div1 p1
    {
        text-align: center;
        font-weight: 500;
        font-size: 14px;
       
        
    }
    .Location div1 span
    {
        font-weight: 600;
        font-size: 15px;
        color:rgb(70,186,124);
    }
 }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }