.Team div3
{
    background-color: rgb(235,248,255);
  display:flex;
  text-align: justify;
}
.Team section{
    margin:0;
}
.Team div1 img{
    border-radius: 50%;
}
.Team div2 img{
    border-radius: 50%;
}
.Team div{
   margin-top: 100px;
    margin-left: 130px;
    width:40%;
}
.Team div p{
    color: green;
    margin:1px;
 }
 .Team div h2{
     margin-top:5px;
     margin-bottom: 5px;
font-size: 45px;
font-weight: 600;
 }
 .Team div p1{
    margin-top:5px;
    margin-bottom: 5px;
font-size: 20px;
font-weight: 500;
text-align: justify;
}
.Team div1 img{
height: 300px;
width:300px;
margin-top: 200px;
margin-left: 100px;
}
.Team div2 img{
    height: 400px;
    width:300px;
    margin-top: 20px;
    

    }
    
@media (max-width: 576px) {.Team div3
    {
        background-color: rgb(235,248,255);
      display:flex;
      text-align: left;
    }
    .Team div1 img{
        border-radius: 50%;
    }
    .Team div2 img{
        border-radius: 50%;
    }
    .Team div{
       margin-top: 30px;
        margin-left: 5px;
        width:45%;
    }
    .Team div p{
        color: green;
        
        font-size: 15px;
    font-weight: 600;
     }
     .Team div h2{
         margin-top:5px;
         margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
     }
     .Team div p1{
        margin-top:5px;
        margin-bottom: 5px;
    font-size: 10px;
    font-weight: 600;
    text-align: left;
    }
    .Team div1 img{
    height: 100px;
    width:100px;
    margin-top: 150px;
    margin-left: 5px;
    }
    .Team div2 img{
        height: 150px;
        width:100px;
        margin-top: 50px;
        
    
        }
          }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }