.Contact  
{

    height:400px ;
}
.Contact div
{ 
    margin-left: 350px;
    width:50%;
    border-block-start: 150ch;
    border-block-end: 150ch;
    display: flex;
    border-bottom-width: 150px;

    height:350px ;

     border-bottom:   solid;
    border-bottom-color:   gray;
    
}
.Contact h1
{
    
    color:gray;
    font-size: 35px;
    font: weight 500;;
    width:80%;
    margin-top: 100px;
}
.Contact p
{ 
    margin-top: 150px;
    color:green;
    font-size: 20px;
    font-weight: 800 ;

   
}

