.Intro{

    width:100%;
    display:flex;
    position: relative;
    background-color:rgb(234, 254,245);
}
.Intro a{
    text-decoration: none;
    display: flex;
}

        
@media (max-width: 576px) { 
    .Intro img {
    margin-top: 150px;
    margin-right:50px;
    height:210px;
    width:150px;
    box-shadow: 2px 2px 25px #ccc;
    padding: 0em  0em 0em 0em;
    margin:0.9em  0.9em 0.9em 0.9em;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;

}
.Intro span  {
    display: flex;
}
.Intro span  p1{
color: lightseagreen;
    margin-top: 20px;
    font-size: 15px;
}
.Intro span  img{
height:30px;
width:30px;
}
.Intro div1{
   text-align:left;
margin-top: 50px;
margin-right:1px ;
margin-left:25px ;
}
.Intro div1 h2{
font-size: 25px;
font-weight: 400;
margin:2px;

}
.Intro div1 h1{
    font-size: 20px;
    font-weight: 400;
    margin:1px;
    }
    .Intro div1 p{
        font-size: 15px;
        font-weight: 300;
        margin-top:1px;
        margin-right: 2px;
        } }


@media (min-width: 768px) {  }


@media (min-width: 992px) { 
    .Intro img {
        margin-top: 50px;
        margin-right:150px;
        height:700px;
        width:600px;
        box-shadow: 10px 10px 50px #ccc;
        padding: 0.5em  0.5em 0.5em 0.5em;
        margin:0.9em  0.9em 0.9em 0.9em;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
    
    }
    .Intro span  {
        display: flex;
    
    }
    .Intro span  p1{
    color: lightseagreen;
        margin-top: 20px;
    }
    .Intro span  img{
    height:40px;
    width:40px;
    }
    .Intro div1{
       text-align:left;
    margin-top: 340px;
    margin-right:20px ;
    margin-left:100px ;
    }
    .Intro div1 h2{
    font-size: 45px;
    font-weight: 600;
    margin:2px;
    
    }
    .Intro div1 h1{
        font-size: 45px;
        font-weight: 600;
        margin:1px;
        
        
        }
        .Intro div1 p{
            font-size: 20px;
            font-weight: 300;
            margin-top:1px;
            margin-right: 250px;
            }
 }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }