.Cases  {
    display:flex;
   
}
.button
{
    background-color: white;
    color:black;
    
    margin :30px;
    border-spacing: 2px;
    font-size: 25px;
    font-weight: 600;
 
}

.button :hover,
.button:active{

    border-bottom-color: rgb(25,218,157);
    
    text-align: center;
}
@media (max-width: 576px) {
.button
{
border-color: white;
    color:black;
    font-size: 8px;
    font-weight: 800;
 
}

.button :hover,
.button:active{
    color: rgb(25,218,157);
    text-align: center;
}
  }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }