.Cases  {
    display:flex;
   
}
.Cases button
{
    background-color: white;
    color:black;
    border: 0ch;
    
    margin :30px;
    border-spacing: 2px;
    font-size: 25px;
    font-weight: 600;
 
}

.Cases .button :hover,
.Cases .button:active{
border-bottom-style:  solid;
    border-bottom-color: rgb(25,218,157);
    
    text-align: center;
}
@media (max-width: 576px) {
    .Cases button
{
    background-color: white;
    color:black;
    margin :2px;
    border-spacing: 2px;
    font-size: 8px;
    font-weight: 800;
 
}

.Cases .button :hover,
.Cases .button:active{
border-bottom-style:  solid;
    border-bottom-color: rgb(25,218,157);
    text-align: center;
}
  }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }